.header {
	padding: 5px 0px 5px 5px;
	cursor: pointer;
	position: relative;
	background-color: #bf8040;/*#c67700; /*#d77f00;*/
	margin: 1px 0px;
}

#material_management {
	padding: 10px 10px 0px 10px
}

#settings_panel {
	border: 0px solid #eeeeee;
	margin-top: 0px;
	padding: 0px;
}

.collapse {
	margin: 0 0 0 0px;
	padding: 8px 0px 0px 6px;
}
   
.collapse_check {
	display:none;
	padding: 6px;
}
   
input[type=button] {
	margin: 3px;
	margin-right: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 8em;
}

input#divide_by_2, input#multiply_by_2 {
	width: 5em;
}

input#save_to_model, input#reset {
	width: 140px;
}

input#get_diffuse_color {
	width: 140px;
}

#current_view {
/*	height: 45px;*/
/*	float: right;*/
	width: 139px;
	margin-left: 5px;
}

.panelcontent{
    position: relative;
}

#diffuse {
    position: relative;
}

.kdr {
    position: absolute;
    left: 80px;
    top: 7px;
}

.kdg {
    position: absolute;
    left: 80px;
    top: 30px;
}

.kdb {
    position: absolute;
    left: 80px;
    top: 53px;
}

.kdrvalue{
    position: absolute;
    left: 135px;
    top: 4px;
}

.kdgvalue{
    position: absolute;
    left: 135px;
    top: 27px;
}

.kdbvalue{
    position: absolute;
    left: 135px;
    top: 50px;
}


#mixmaterials {
    position: relative;
}


.mixmat1{
    position: absolute;
    left: 0px;
    top: 4px;
}

.mixmatlist1{
    position: absolute;
    left: 80px;
    top: 4px;
}

.mixmat2{
    position: absolute;
    left: 0px;
    top: 27px;
}

.mixmatlist2{
    position: absolute;
    left: 80px;
    top: 27px;
}

.mixmattype{
    position: absolute;
    left: 0px;
    top: 50px;
}
.mixmattypelist{
    position: absolute;
    left: 80px;
    top: 50px;
}

.none{
    position: absolute;
    left: 80px;
    top: 73px;
}

.sketchup{
    position: absolute;
    left: 80px;
    top: 73px;
}

.imagemap{
    position: absolute;
    left: 80px;
    top: 73px;
}





.texturelabel{
    position: absolute;
    left: 219px;
    top: 7px;
}

.texturedropdown{
    position: absolute;
    left: 215px;
    top: 27px;
}

.textureloadbutton{
    position: absolute;
    left: 215px;
    top: 50px;
}

#flip_dim {
	width: 169px;
}

.swatch {
    border: 1px solid black;
    background-color: #ffffff;
}

#swatch_diffuse{
    margin: 5px 0px 0px 0px;
}

.swatch{
    margin: 5px 0px 0px 0px;
}

#fleximage_xresolution, #fleximage_yresolution {
	margin: -23px 5px 0 0;
	text-align: right;
	font-size: 10px;
}

#preview {
	height: 120px;
}


.imagemap{
    display:none;
}

#imagemap_right {
	float: right;
}