#material_name{
    margin: 4px, 4px;
    padding: 10px, 10px;
}

#material_management {
	padding: 6px 10px;
}

#settings_panel {
	border: 0px solid #eeeeee;
	margin: 0px;
	padding: 0px;
}

#preview_image{
    position: relative;
	margin: 0px;
	padding: 0px;
    left: 8px;
    top: 8px;

}

.collapse {
	margin: 0px;
	padding: 0px;
}
   
.collapse_check {
	display:none;
	padding: 0px;
    margin: 0px;
}

input[type=text]{
    width: 5em;
}

input[type=button] {
	margin: 3px;
	margin-right: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 8em;
}

input#divide_by_2, input#multiply_by_2 {
	width: 5em;
}

input#save_to_model, input#reset {
	width: 160px;
    margin: 3px 0px 8px 8px;
}

input#get_diffuse_color {
	width: 140px;
}

#current_view {
/*	height: 45px;*/
/*	float: right;*/
	width: 139px;
	margin-left: 5px;
}

.panelcontent{
    position: relative;
    padding: 7px;
    margin: 0px;
}

#cloth{
    position: relative;
}

#light{
}

#diffuse {
    position: relative;
}

#mixfield_uniform{
    position: absolute;
}

#mixfield_texture{
    position: absolute;
}

#exponent_div{
    position: relative;
    
}

.kdr {
    position: absolute;
    left: 80px;
    top: 12px;
}

.kdg {
    position: absolute;
    left: 80px;
    top: 35px;
}

.kdb {
    position: absolute;
    left: 80px;
    top: 58px;
}

.kdrvalue{
    position: absolute;
    left: 122px;
    top: 8px;
}

.kdgvalue{
    position: absolute;
    left: 122px;
    top: 31px;
}

.kdbvalue{
    position: absolute;
    left: 122px;
    top: 54px;
}

#mixmaterials {
    position: relative;
}

.mixmat1{
    position: absolute;
    left: 0px;
    top: 0px;
}

.mixmatlist1{
    position: absolute;
    left: 92px;
    top: -4px;
}

.mixmat2{
    position: absolute;
    left: 0px;
    top: 26px;
}

.mixmatlist2{
    position: absolute;
    left: 92px;
    top: 22px;
}

#mixtypes_label{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
}

#mx_imgmapname{
    position: absolute;
    left: 96px;
    top: 25px;
}

#mx_browse_map{
    position: absolute;
    left: 92px;
    top: 46px;
}

.mixtypes_matlist{
    position: absolute;
    left: 92px;
    top: -4px;
}

.mixmatlabel{
    position: absolute;
    left: 0px;
    top: 50px;
}

.mixmattypelist{
    position: absolute;
    left: 92px;
    top: 0px;
}


.texture_area_mix{
    position: absolute;
    left: 0px;
    top: 52px;
}

.txfields{
    position: absolute;
    left: 80px;
    top: 73px;
}

.texturelabel{
    position: absolute;
    left: 200px;
    top: 7px;
}

.texturedropdown{
    position: absolute;
    left: 260px;
    top: 4px;
}

.textureloadbutton{
    position: absolute;
	width: 4em;
    left: 197px;
    top: 50px;
}

.colorizesection{
    position: absolute;
    left: 65px;
    top: 45px;
    width: 120px;
}

.imgmapname{
    position: absolute;
    left: 200px;
    top: 31px;
}

#flip_dim {
	width: 174px;
}

.swatch {
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
}

#swatch_absorption{
    position: absolute;
    top: 7px;
    left: 7px;
}

#swatch_metal2{
    position: absolute;
    top: 7px;
    left: 7px;
}


#fleximage_xresolution, #fleximage_yresolution {
	margin: -23px 5px 0 0;
	text-align: right;
	font-size: 10px;
}

#lightgain{
    position: absolute;
    left: 0px;
    top: 30px;
}

#type{
    margin: 10px;
}
#preview {
    margin: 0px;
    padding: 0px;
}

#previewsize{
    position: absolute;
    left: 286px;
    top: 4px;
}

#previewtime{
    position: absolute;
    left: 286px;
    top: 28px;
}

#update_material_preview{
    position: absolute;
    left: 286px;
    top: 80px;
}

.parameter_label{
    position: absolute;
    left: 0px;
    top: 0px;
}

.parameter_field{
    position: absolute;
    left: 100px;
    top: -3px;
}

.parameter_field_dm{
    position: absolute;
    left: 50px;
    top: -3px;
}

.parameter_field_dr{
    position: absolute;
    left: 120px;
    top: -3px;
}

.parameter_field_cloth{
    position: absolute;
    left: 140px;
    top: -3px;
}

.parameter_field_light{
    position: absolute;
    left: 150px;
    top: -3px;
}

.parameter_interface{
    position: relative;
    height: 78px;
}

#metal2_color{
    position: relative;
    top: 0px;
    left: -8px;
    height: 86px;
}

.parameter_interface_mix{
    position: relative;
    height: 126px;
}

.parameter_interface_L{
    position: relative;
    left: -7px;
    top: -7px;
    height: 85px;
    margin: 7px 0px 0px 0px;
    padding: 0px;
}

.margin_bottom{
    margin: 0px 0px 10px 0px;
}

.parameter_interface_displacement{
    position: relative;
    height: 136px;
}

.mix_uniform_label{
    position: absolute;
    left: 0px;
    top: 25px;
    width: 180px;
}

.mix_uniform_field{
    position: absolute;
    left: 148px;
    top: 21px;
}

.texture_area_swatchfield{
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 200px;
    top: 12px;
}

.texture_area{
    position: absolute;
    left: 180px;
    top: 0px;
}

.texture_area_dr{
    position: absolute;
    left: 200px;
    top: 0px;
}

.tex_label_swatch{
    position: absolute;
    left: 0px;
    top: 0px;
}

.tex_label{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 30px;
}

.tex_dropdown{
    position: absolute;
    left: 60px;
    top:    -3px;
}

.tex_path{
    position: absolute;
    left: 0px;
    top: 23px;
    width: 200px;
}

.tex_loadbutton{
    position: absolute;
    left: -4px;
    top: 42px;
}


#loop{
    position: absolute;
    left: 0px;
    top: 44px;
    width: 250px;
}

#microdisplacement{
    display: none;
    position: absolute;
    left: 0px;
    top: 44px;
    width: 250px;
}

#dm_subdiv_label, #dm_microlevels_label{
    position: absolute;
    left: 0px;
    top: 2px;
}

#dm_scale_label{
    position: absolute;
    left: 0px;
    top: 77px;
}

#dm_offset_label{
    position: absolute;
    left: 0px;
    top: 108px;
}

#dm_scale{
    position: absolute;
    left: 119px;
    top: 75px;
}

#dm_offset{
    position: absolute;
    left: 120px;
    top: 105px;
}

#dm_subdivl, #dm_microlevels{
    position: absolute;
    left: 120px;
    top: 0px;
}

#dm_normalsmooth{
    position: absolute;
    left: 199px;
    top: 28px;
}

#dm_normalsplit{
    position: absolute;
    left: 199px;
    top: 48px;
}

#dm_sharpboundary{
    position: absolute;
    left: 199px;
    top: 68px;
}

#dm_normalsmooth_label{
    position: absolute;
    left: 219px;
    top: 28px;
    width: 130px;
}
#dm_normalsplit_label{
    position: absolute;
    left: 219px;
    top: 48px;
    width: 130px;
}

#dm_sharpboundary_label{
    position: absolute;
    left: 219px;
    top: 68px;
    width: 130px;
}

#clothtype{
    position: absolute;
    left: 0px;
    top: 0px;
}
#clothrepeatx{
    position: absolute;
    left: 0px;
    top: 32px;
    width: 150px;
}
#clothrepeaty{
    position: absolute;
    left: 0px;
    top: 64px;
    width: 150px;
}

.imagemap{
    display:none;
}
.sketchup{
    display:none;
}

#imagemap_right {
	float: right;
}

#kd_browse_map, #ks_browse_map, #km2_browse_map, #cl1kd_browse_map, #cl1ks_browse_map, #cl2kd_browse_map, #cl2ks_browse_map{
    width: 5em;
}